{% extends 'layouts/admin-base.html' %}
{% load static %}

{% block page-css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/admin/setting.css' %}?2021041601">
{% endblock %}

{% block page-js %}
{% endblock %}

{% block main-content %}
    <article>
        <h1>価格設定- カテゴリ選択</h1>

        <!--== カテゴリリスト ===================-->
        <table id="category-list" class="table table-bordered">
            <tr>
                <th id="name">カテゴ名</th>
                <th id="bt-box"></th>
            </tr>

            {% for row in category_list %}
            <tr>
                <td>{{ row.name }}</td>
                <td>
                    <a href="/admin/setting/buy-price/{{ row.name_en }}/list" class="btn btn-info btn-xs">
                        価格一覧
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}